{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Опросы{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    <header>
      <h1><a href="{% url 'polls:index' %}">Опросы</a></h1>
      <nav>
        <a href="{% url 'polls:question_create' %}" class="btn">Создать опрос</a>
      </nav>
      <hr>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>


