{% extends "polls/base.html" %}

{% block content %}      

    {% load crispy_forms_tags %}

    <!--Login-->
    <div class="py-5">
        <h1>Login</h1> {{slogan}}
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center mt-3">
            Don't have an account? <a href="{% url 'polls:register' %}">Create an account</a>.
        </p>

        <hr class="my-4">

        <div class="text-center">
            <p>Или войдите, используя аккаунт Google:</p>
            <a class="btn btn-outline-danger"
               href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'polls:index' %}">
                Войти через Google
            </a>
        </div>
    </div>

{% endblock %}